body{
  background-color: #166655;
}

.login
{
  text-align: center;
  margin: 100px;
  display: flex;
  height: 400px;
  background-color: white;
}
.container
{
  display:flex;
}
button{
  height: 30px;
  width: 55px;
  background-color: silver;
  color: white;
  margin-top: 35px;
}
button:hover{
  opacity: 0.8;
}
